#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h2 {
  font-size: 2.5em;
  margin-bottom: 15px;
  line-height: 0.5;
  color: black;
}

body {
  background-image: url("images/topic-london-gettyimages-760251843-feature.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
